* {
  cursor: default;
  user-select: none;
}

body {
  background-color: #000;
  padding: 1%;
  font-family: Calibri, sans-serif;
  color: #39FF14;
  font-size: 1em;
  overflow: hidden;
  text-shadow: 1px 1px transparent;
  filter: dropshadow(color=transparent, offx=1, offy=1);
}

#gameWarningid {
  display: block;
  z-index: 2;
  position: absolute;
}

.output {
  font-size: 18px;
  text-align: top, center;
  color: #39FF14;
  border-color: transparent;
  background-color: #000;
  font-family: Calibri, sans-serif;
  text-shadow: 1px 1px transparent;
  filter: dropshadow(color=transparent, offx=1, offy=1);
  user-select: none;
}

.hello_world {
  font-size: 20px;
}

/* Cursor Styling */

.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: #39FF14;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h2.cursor::after {
  height: 29px;
  width: 19px;
}

h3.cursor::after {
  height: 18px;
  width: 8px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* name screen */

#trans2 {
  display: none;
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.console {
  font-family: Calibri, sans-serif;
  color: #39FF14;
}

.noHighlight {
  user-select: none;
}

input[type="button"] {
  cursor: pointer;
}

#random-name {
  color: #39FF14;
}

#generate {
  color: #39FF14;
}

/* loading screen */
#trans3 {
  display: none;
}

#myProgress {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

#myBar {
  width: 0%;
  height: 100px;
  background-color: #39FF14;
  text-align: center;
  line-height: 90px;
  color: black;
  margin: auto;
}

/* Title Screen */

#back {
  height: 100%;
}

#settingsStart {
  position: absolute;
  color: black;
  background-color: rgba(233, 66, 245, 0.7);
  border-color: pink;
  top: 0%;
  left: 0%;
  z-index: 5;
}

#dot {
  position: absolute;
  left: -15%;
  height: 85%;
  width: 61%;
  background-color: #fc0a7f;
  border-radius: 100%;
  display: block;
  opacity: 40%;
  z-index: -2;
}


#trans4 {
  display: none;
}

#title {
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  color: purple;
}

#Subtitle {
  text-align: right;
  color: blue;
}

#btngroup button {
  background-color: transparent;
  border-color: transparent;
  color: black;

  /* White text */
  display: block;

  /* Make the buttons appear below each other */
}

#btngroup button:not(:last-child) {
  border-bottom: none;
}

#btngroup button:hover {
  background-color: pink !important;
  color: white !important;
  height: 7% !important;
  width: 35% !important;
  border-radius: 100% !important;
  left: -5% !important;
}


#credits button {
  background-color: transparent;
  border: 0px transparent;
  color: black;
  display: block;
}

#credits button:not(:last-child) {
  border-bottom: none;
}

#credits button:hover {
  background-color: pink !important;
  color: white !important;
  height: 5% !important;
  width: 21% !important;
  border-radius: 100% !important;
  left: -5% !important;
}

#pics {
  background-color: transparent;
  border: 0px transparent;
  color: black;

  /* White text */
  display: block;
}

#pics:hover {
  background-color: pink !important;
  color: white !important;
  height: 7% !important;
  width: 25% !important;
  border-radius: 100% !important;
  left: -5% !important;
}

#AC {
  background-color: transparent;
  border: 0px transparent;
  color: black;
  display: block;
}

#AC:hover {
  background-color: pink !important;
  color: white !important;
  height: 5% !important;
  width: 45% !important;
  border-radius: 100% !important;
  left: -5% !important;
}

#meet {
  background-color: transparent;
  border: 0px transparent;
  color: black;
  display: block;
}

#meet:hover {
  background-color: pink !important;
  color: white !important;
  height: 35% !important;
  width: 45% !important;
  border-radius: 100% !important;
  left: -5% !important;
}

#settingsStart:hover {
  border-color: rgba(233, 66, 245, 0.7);
  background-color: pink;
}

/* Credits */
#transC {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 45%;
  margin-left: -200px;
  font-family: 300 30px/1 Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 103s credits linear infinite;
}

.movie {
  margin-bottom: 50px;
  font-family: 300 30px/1 Arial, sans-serif;
  font-size: 50px;
}

.job {
  margin-bottom: 5px;
  font-family: 300 30px/1 Arial, sans-serif;
  font-size: 18px;
}

.name {
  margin-bottom: 50px;
  font-family: 300 30px/1 Arial, sans-serif;
  font-size: 35px;
}

@keyframes credits {
  0% {
    top: 100%;
  }

  100% {
    top: -1200%;
  }
}

/*
Meet the characters
*/
#backb {
  background-color: #000;
  border-color: transparent;
  color: #39FF14;
  display: none;
}

#meett {
  display: none;
}

#fps {
  margin-top: 5px;
  margin-left: 35px;
}

a {
  color: #39FF14;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* hardware accelatator class */
.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style: preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);

  /* -webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden; */
}

#backmeet {
  position: absolute;
  left: 40%;
  top: 10px;
  z-index: 10;
  font-size: 45px;
  background-color: rgba(233, 66, 245, 0.7);
  border-color: pink;
}

#backmeet:hover {
  border-color: rgba(233, 66, 245, 0.7);
  background-color: pink;
}

#contentContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
}

#carouselContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
}

.carouselItem {
  width: 320px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  visibility: hidden;
}

.carouselItemInner {
  border-radius: 25px;
  opacity: 0.5;
  width: 320px;
  height: 130px;
  position: absolute;
  background-color: #e75480;
  border: 10px solid #FFB6C1;
  color: black;
  font-size: 72px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  text-align: center;
  padding-top: 50px;

}

/* 
THIS IS THE GAME I NEED THIS FOR FILLER
*/

/* game */
@import url(https://fonts.googleapis.com/css?family=Lato);

.content {
  width: 100vw;
  height: 100vh;
  margin-left: -2vw;
  margin-top: -3vh;
  background: #f1f1f1;
  position: -webkit-sticky;
  position: sticky;
  font-size: 24px;
  font-family: Lato;
}

.content .header {
  margin-top: -3vh;
  width: 100%;
  height: 50px;
  background: #a2a2a2;
  line-height: 50px;
  border: 5px solid pink;
  box-sizing: border-box;
  background-color: #e75480;
  border-bottom-style: none;
}

.content .header .location {
  padding-left: 10px;
  float: left;
}

.content .header .datetime {
  padding-right: 10px;
  float: right;
}

.content .internal {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content .internal .internal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1.2s;
  background: url("http://img2.goodfon.su/original/2560x1440/b/ee/school-interior-shkola-pustoy.jpg?d=1");
  background-size: cover;
  background-repeat: no-repeat;
}

.content .internal .internal-background .internal-char {
  height: 350px;
  width: 300px;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 50px;
  background: url("http://i43.tinypic.com/2md1kyh.jpg");
  transition: 1.1s;
  opacity: 0;
}

.content .textbox {
  border-radius: 25px;
  position: absolute;
  margin-top: -40vh;
  height: 160px;
  width: 100%;
  padding: 5px;
  line-height: 30px;
  box-sizing: border-box;
  border: 4px solid #e75480;
  background-color: pink;
}

.content .textbox .speaker {
  margin-left: 1vw;
  font-weight: 700;
  min-height: 30px;
}

.content .textbox .continue {
  position: absolute;
  bottom: 15px;
  right: 0vw;
  background-color: rgba(231, 84, 128, 0.5);
  border-color: rgb(231, 84, 128);
}

.content .textbox .continue:hover {
  background-color: rgb(231, 84, 128);
  border-color: rgba(231, 84, 128, 0.5);
}

.content .textbox .chgspeed {
  position: absolute;
  bottom: 15px;
  margin-left: -1vw;
}

.content .textbox .chgspeed button {
  background-color: rgba(231, 84, 128, 0.5);
  border-color: rgb(231, 84, 128);
}

.content .textbox .chgspeed button:hover {
  background-color: rgb(231, 84, 128);
  border-color: rgba(231, 84, 128, 0.5);
}

#first {
  display: none;
  color: black;
}


/* transition */


#changeColor {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  animation-name: place;
  animation-duration: place;
  animation-iteration-count: place;
  animation-direction: alternate;
  z-index: -3;
}

#fadeWhite {
  position: fixed;
  display: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  animation-name: place;
  animation-duration: place;
  animation-direction: reverse;
  z-index: -3;
}

@keyframes color {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  opacity: 0;
}

/* DLC */
#dlc {
  display: none;
}

#square {
  position: relative;
  z-index: 10;
  height: 430px;
  width: 90%;
  background-color: #ff4da6;
  margin-left: 5%;
}

#square2 {
  position: relative;
  z-index: 13;
  height: 90px;
  width: 100%;
  background-color: #ff0080;
}

#dlcText {
  position: absolute;
  z-index: 15;
  color: black;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  left: 45%;
}

.dlcAvailable {
  position: absolute;
  z-index: 11;
  color: black;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  left: 27%;
}

.dlcAvailable:hover {
  background-color: #ff2693;
  color: white;
}

#backAC2 {
  background-color: pink;
  border-color: #cf7887;
  color: black;
  margin-left: 5%;
}

#backAC2:hover {
  background-color: #cf7887;
  border-color: pink;
}

#DLC5 {
  position: absolute;
  border-color: rgba(233, 66, 245, 0.7);
  background-color: pink;
  color: black;
  left: 77%;
}

#DLC5:hover {
  background-color: rgba(233, 66, 245, 0.7);
  border-color: pink;
}

#dlc1_1 {
  display: none;
}

#square1 {
  position: relative;
  z-index: 10;
  height: 430px;
  width: 90%;
  background-color: #ff4da6;
  margin-left: 5%;
}

#square2-1 {
  position: relative;
  z-index: 13;
  height: 90px;
  width: 100%;
  background-color: #ff0080;
}

#dlcText1 {
  position: absolute;
  z-index: 15;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  left: 35%;
}

.dlc1 {
  position: absolute;
  z-index: 11;
  color: black;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  left: 35%;
  font-size: 26px;
}

.dlc2 {
  position: absolute;
  z-index: 11;
  color: black;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  left: 35%;
  top: 28%;
  font-size: 26px;
}

.dlc3 {
  position: absolute;
  z-index: 11;
  color: black;
  font-family: 'Source Code Pro', monospace;
  user-select: none;
  left: 35%;
  top: 35%;
  font-size: 26px;
}

.dlc1:hover {
  background-color: #ff2693;
  color: white;
}

.dlc2:hover {
  background-color: #ff2693;
  color: white;
}

.dlc3:hover {
  background-color: #ff2693;
  color: white;
}

#DLC6 {
  position: absolute;
  border-color: rgba(233, 66, 245, 0.7);
  background-color: pink;
  color: black;
  margin-left: 65%;
}

#DLC6:hover {
  background-color: rgba(233, 66, 245, 0.7);
  border-color: pink;
}

#backAC1 {
  background-color: pink;
  border-color: #cf7887;
  color: black;
  margin-left: 5%;
}

#backAC1:hover {
  background-color: #cf7887;
  border-color: pink;
}

/* Pictures */
#pictures {
  display: none;
}

#picFrame {
  background-color: pink;
  width: 600px;
  height: 1350px;
  margin-left: auto;
  margin-right: auto;
}

#pic1 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

#pic2 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 320px;
  margin-top: 20px;
}

#pic3 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-top: 350px;
  margin-left: 20px;
}

#pic4 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 320px;
  margin-top: 350px;
}

#pic5 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 20px;
  margin-top: 700px;
}

#pic6 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 320px;
  margin-top: 700px;
}

#pic7 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 20px;
  margin-top: 1040px;
}

#pic8 {
  position: absolute;
  background-color: blue;
  width: 250px;
  height: 300px;
  margin-left: 320px;
  margin-top: 1040px;
}

#backPic {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: rgba(233, 66, 245, 0.4);
  border-color: rgba(233, 66, 245, 0.7);
  margin-top: -20px;
  margin-left: -8%;
  width: 110%;
  z-index: 1010;
}

#backPic:hover {
  border-color: rgba(233, 66, 245, 0.4);
  background-color: rgba(233, 66, 245, 0.7);
}

#pic1:hover span {
  display: none;
}

#pic1:hover::before {
  content: "Click To Zoom";
}

#pic2:hover span {
  display: none;
}

#pic2:hover::before {
  content: "Click To Zoom";
}

#pic3:hover span {
  display: none;
}

#pic3:hover::before {
  content: "Click To Zoom";
}

#pic4:hover span {
  display: none;
}

#pic4:hover::before {
  content: "Click To Zoom";
}

#pic5:hover span {
  display: none;
}

#pic5:hover::before {
  content: "Click To Zoom";
}

#pic6:hover span {
  display: none;
}

#pic6:hover::before {
  content: "Click To Zoom";
}

#pic7:hover span {
  display: none;
}

#pic7:hover::before {
  content: "Click To Zoom";
}

#pic8:hover span {
  display: none;
}

#pic8:hover::before {
  content: "Click To Zoom";
}

/* screenred */
#screen5 {
  display: none;
}

.resolution {
  position: absolute;
  background-color: #fc0a7f;
  color: black;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
}

#prompt {
  text-align: center;
  color: black;
  font-size: 30px;
}

#buttonRes {
  margin-left: 43%;
  font-size: 24px;
  background-color: pink;
}

#buttonRes:hover {
  background-color: #fc097f;
}

#buttonRes1 {
  margin-left: 43%;
  font-size: 24px;
  margin-top: 10%;
  background-color: pink;
}

#buttonRes1:hover {
  background-color: #fc0a7f;
}

/* load Game */
#loadGame {
  display: none;
  color: black;
  height: 100vh;
}

#loadGameBox {
  margin-top: 0%;
  margin-left: 3%;
  width: 95%;
  height: 80vh;
  background-color: pink;
}

#loadGameFile1 {
  position: absolute;
  margin-top: 5%;
  margin-left: 14%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#loadGameFile2 {
  position: absolute;
  margin-left: 14%;
  margin-top: 30%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#loadGameFile3 {
  position: absolute;
  margin-left: 50%;
  margin-top: 5%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#loadGameFile4 {
  position: absolute;
  margin-left: 50%;
  margin-top: 30%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#arrowBack {
  position: absolute;
  font-size: 70px;
  margin-top: 20%;
  margin-left: 3%;
  cursor: not-allowed;
}

#arrowForward {
  position: absolute;
  font-size: 70px;
  margin-top: 20%;
  margin-left: 80%;
  cursor: pointer;
}

#loadGameFile1:hover {
  background-color: #fc0FFF;
}

#loadGameFile2:hover {
  background-color: #fc0FFF;
}

#loadGameFile3:hover {
  background-color: #fc0FFF;
}

#loadGameFile4:hover {
  background-color: #fc0FFF;
}

#arrowForward:hover {
  background-color: #fc0a7f;
}

#loadScreenBack {
  margin-left: 3%;
  margin-top: 2%;
  background-color: pink;
  color: black;
  border-color: #fc0a7f;
}

#loadScreenBack:hover {
  background-color: #fc0a7f;
  border-color: pink;
}

/* save Game */
#hideButtons {
  display: none;
}

#saveGame {
  color: black;
  position: relative;
  z-index: 10000;
  top: 17vh;
}

#saveGameBox {
  margin-top: 0%;
  margin-left: 3%;
  width: 95%;
  height: 80vh;
  background-color: pink;
}

#arrowBackSave {
  position: absolute;
  color: black;
  font-size: 70px;
  margin-top: 20%;
  margin-left: 3%;
  cursor: not-allowed;
}

#saveGameFile1 {
  position: absolute;
  margin-top: 5%;
  margin-left: 14%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#saveGameFile2 {
  position: absolute;
  margin-left: 14%;
  margin-top: 30%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#saveGameFile3 {
  position: absolute;
  margin-left: 50%;
  margin-top: 5%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#saveGameFile4 {
  position: absolute;
  margin-left: 50%;
  margin-top: 30%;
  width: 28%;
  height: 31%;
  background-color: #fc0a7f;
  text-align: center;
}

#arrowForwardSave {
  position: absolute;
  font-size: 70px;
  margin-top: 32vh;
  margin-left: 83vw;
  cursor: pointer;
}

#saveGameFile1:hover {
  background-color: #fc0FFF;
}

#saveGameFile2:hover {
  background-color: #fc0FFF;
}

#saveGameFile3:hover {
  background-color: #fc0FFF;
}

#saveGameFile4:hover {
  background-color: #fc0FFF;
}

#arrowForwardSave:hover {
  background-color: #fc0a7f;
}

/* Settings Screen */
#settings {
  display: none;
}

#settingsBox {
  margin-top: 0%;
  margin-left: 3%;
  width: 95%;
  height: 92vh;
  background-color: pink;
  text-align: center;
  color: black;
}

#settingsClose {
  position: absolute;
  color: black;
  background-color: rgba(233, 66, 245, 0.7);
  border-color: pink;
  margin-left: 3%;
  margin-top: 0%;
}

#settingsClose:hover {
  border-color: rgba(233, 66, 245, 0.4);
  background-color: rgba(233, 66, 245, 0.7);
}
